.col-md-4 img {
	width: 100%;
	height: auto;
	margin: 15px 0 0 0;
}

.col-md-4 img.aws {
	width: 50%;
	height: auto;
}

a {
	color: #333;
}

.red {
	color: red;
}

.line-through {
	text-decoration:line-through;
}